/* Basic CSS setup */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

.active {
  background-color: #1f2937; /* gris oscuro */
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

