<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/style/default.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Estadistica - Panel de Administración</title>
</head>

<body class="flex-col items-center justify-between">
    <header class="barraSuperior w-full shadow-md">
        <div class=" w-full px-4 py-2 flex items-center justify-between">
            <h1 class="text-2xl font-bold text-gray-800 mx-2">Panel de Administración</h1>
            <h1 class="text-xl text-gray-600 mx-2">Empleados</h1>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="/admin/" class=" justify-center  hover:text-gray-800">Inicio</a>
                    </li>
                    <li><a href="/admin/estadisticas"
                            class="justify-center text-white hover:text-gray-100 bg-gray-800 rounded-xl px-2 py-1 transition-colors duration-300 active">Estadistica</a>
                    </li>
                    <li><a href="/admin/actividad" class="justify-center  hover:text-gray-800">Actividad</a></li>
                    <li><a href="/" class="justify-center  hover:text-gray-800">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="container mx-auto p-4">
        <h2 class="text-2xl font-bold mb-4">Estadísticas de Empleados</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold mb-2">Total de Empleados</h3>
                <p class="text-3xl font-bold text-gray-800">150</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold mb-2">Empleados Activos</h3>
                <p class="text-3xl font-bold text-green-600">120</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold mb-2">Empleados Inactivos</h3>
                <p class="text-3xl font-bold text-red-600">30</p>
            </div>
        </div>
    </div>
    </div>
    <div class="container mx-auto p-4 items-center justify-center">
        <h2 class="text-2xl font-bold mb-4">Gráficas de Empleados</h2>
        <div class="bg-white p-4 rounded-lg shadow-md items-center justify-center">
            <img src="../../static/assets/graficos/nivel_acceso.png" alt="Gráfico Nivel de Acceso">
            <img src="../../static/assets/graficos/fecha_acceso.png" alt="Gráfico Fecha de Acceso">
            <img src="../../static/assets/graficos/turnos.png" alt="Gráfico Turnos">
            <img src="../../static/assets/graficos/acceso_regfacial.png" alt="Gráfico Acceso Registro Facial">

        </div>
        <h2 class="text-2xl font-bold mb-4">Gráficas de Rendimiento</h2>
        <div class="bg-white p-4 rounded-lg shadow-md">
            <img src="../../static/assets/graficos/eficiencia.png" alt="Gráfico Nivel de Acceso">
        </div>
    </div>
    <div class="container mx-auto p-4">
        <h2 class="text-2xl font-bold mb-4">Gráficas de Almacenamiento</h2>
        <div class="bg-white p-4 rounded-lg shadow-md">
            <canvas id="graficoAlmacenamiento" width="400" height="200"></canvas>
        </div>
        <div class="container mx-auto p-4">
            <h2 class="text-2xl font-bold mb-4">Gráficas de Produccion</h2>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <img src="../../static/assets/graficos/produccion.png" alt="Gráfico Producción">
                <img src="../../static/assets/graficos/desperdicio.png" alt="Gráfico Desperdicio">
            </div>

        </div>
    </div>

</body>
<script src="../../static/scripts/gestionEmpleados.js"></script>

</html>