<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/style/default.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inicio - Panel de Administración</title>
</head>

<body class="flex-col items-center justify-between">
    <header class="barraSuperior w-full shadow-md">
        <div class=" w-full px-4 py-2 flex items-center justify-between">
            <h1 class="text-2xl font-bold text-gray-800 mx-2">Panel de Administración</h1>
            <h1 class="text-xl text-gray-600 mx-2">Empleados</h1>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="admin/"
                            class=" justify-center hover:text-gray-100 text-white bg-gray-800 rounded-xl px-2 py-1 transition-colors duration-300 active">Inicio</a>
                    </li>
                    <li><a href="/admin/estadisticas" class="justify-center  hover:text-gray-800">Estadistica</a></li>
                    <li><a href="/admin/actividad" class="justify-center  hover:text-gray-800">Actividad</a></li>
                    <li><a href="/admin/registros" class="justify-center  hover:text-gray-800">Registros</a></li>
                    <li><a href="/cerrarSesion" class="justify-center  hover:text-gray-800">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="infoAdmin my-4 mx-80 p-4 border rounded-lg shadow-md shadow-md flex flex-col">
        <h2 class="text-2xl font-bold ">Mis datos</h2>
        <div class="flex items-center mt-4">
            <img class="previewAdmin w-40 h-40 rounded-full mx-4"
                src="{{ url_for('empleado.static', filename=empleado.ruta_imagen_perfil.split('/')[-1]) }}"  alt="Foto de perfil">
                
            <div>
                <p id="nombreUsuario" class="text-xl font-bold">{{empleado.nombre}} {{empleado.apellido}}</p>
                <p id="rol" class="text-xl font-bold uppercase text-gray-700">{{empleado.nombre_rol}}</p>
                <p id="sectorUsuario" class="text-lg font-semibold text-gray-600">Sector: {{empleado.id_sector}} - {{empleado.nombre_sector}}</p>
                <p id="legajo" class="text-lg font-bold my-4">Legajo: {{empleado.legajo}}</p>
                <p id="correo" class="text-lg font-bold my-4 text-gray-600">{{empleado.correo}}</p>
            </div>
        </div>
    </div>
    <div class="empleados1 my-2 mx-32 p-4 border rounded-lg shadow-md shadow-md flex flex-col">
        <h2 class="text-2xl font-bold mb-4">Lista de Empleados Sector 1</h2>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Foto</th>
                    <th class="py-2 px-4 border-b">Nombre</th>
                    <th class="py-2 px-4 border-b">Correo Electrónico</th>
                    <th class="py-2 px-4 border-b">Rol</th>
                    <th class="py-2 px-4 border-b">Legajo</th>
                </tr>
            </thead>
            <tbody>
            {% for emp in empleados_del_sector1 %}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-4 border-b">
                    <img class="w-16 h-16 rounded-full mx-auto" 
                         src="{{ url_for('empleado.static', filename=emp.ruta_imagen.split('/')[-1]) }}" 
                         alt="Foto de {{ emp.nombre }}">
                </td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre }} {{ emp.apellido }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.correo }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre_rol }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.legajo }}</td>
            </tr>
            {% endfor %}
        </table>
        </h2>
    </div>

    <div class="empleados2 my-2 mx-32 p-4 border rounded-lg shadow-md shadow-md flex flex-col">
        <h2 class="text-2xl font-bold mb-4">Lista de Empleados Sector 2</h2>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Foto</th>
                    <th class="py-2 px-4 border-b">Nombre</th>
                    <th class="py-2 px-4 border-b">Correo Electrónico</th>
                    <th class="py-2 px-4 border-b">Rol</th>
                    <th class="py-2 px-4 border-b">Nivel Acceso</th>
                </tr>
            </thead>
            <tbody>
            {% for emp in empleados_del_sector2 %}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-4 border-b">
                    <img class="w-16 h-16 rounded-full mx-auto" 
                         src="{{ url_for('empleado.static', filename=emp.ruta_imagen.split('/')[-1]) }}" 
                         alt="Foto de {{ emp.nombre }}">
                </td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre }} {{ emp.apellido }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.correo }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre_rol }}</td>
            </tr>
            {% endfor %}
        </table>
        </h2>
    </div>
    <div class="empleados3 my-2 mx-32 p-4 border rounded-lg shadow-md shadow-md flex flex-col">
        <h2 class="text-2xl font-bold mb-4">Lista de Empleados Sector 3</h2>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Foto</th>
                    <th class="py-2 px-4 border-b">Nombre</th>
                    <th class="py-2 px-4 border-b">Correo Electrónico</th>
                    <th class="py-2 px-4 border-b">Rol</th>
                    <th class="py-2 px-4 border-b">Nivel Acceso</th>
                </tr>
            </thead>
            <tbody>
            {% for emp in empleados_del_sector3 %}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-4 border-b">
                    <img class="w-16 h-16 rounded-full mx-auto" 
                         src="{{ url_for('empleado.static', filename=emp.ruta_imagen.split('/')[-1]) }}" 
                         alt="Foto de {{ emp.nombre }}">
                </td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre }} {{ emp.apellido }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.correo }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre_rol }}</td>
            </tr>
            {% endfor %}
        </table>
        </h2>
    </div>
    </div>
    <div class="empleados4 my-2 mx-32 p-4 border rounded-lg shadow-md shadow-md flex flex-col">
        <h2 class="text-2xl font-bold mb-4">Lista de Empleados Sector 4</h2>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Foto</th>
                    <th class="py-2 px-4 border-b">Nombre</th>
                    <th class="py-2 px-4 border-b">Correo Electrónico</th>
                    <th class="py-2 px-4 border-b">Rol</th>
                    <th class="py-2 px-4 border-b">Nivel Acceso</th>
                </tr>
            </thead>
            <tbody id="tablaEmpleados4">
            {% for emp in empleados_del_sector4 %}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-4 border-b">
                    <img class="w-16 h-16 rounded-full mx-auto" 
                         src="{{ url_for('empleado.static', filename=emp.ruta_imagen.split('/')[-1]) }}" 
                         alt="Foto de {{ emp.nombre }}">
                </td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre }} {{ emp.apellido }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.correo }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre_rol }}</td>
            </tr>
            {% endfor %}
        </table>
        </h2>
    </div>
    <div class="empleados5 my-2 mx-32 p-4 border rounded-lg shadow-md shadow-md flex flex-col">
        <h2 class="text-2xl font-bold mb-4">Lista de Empleados Sector 5</h2>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Foto</th>
                    <th class="py-2 px-4 border-b">Nombre</th>
                    <th class="py-2 px-4 border-b">Correo Electrónico</th>
                    <th class="py-2 px-4 border-b">Rol</th>
                    <th class="py-2 px-4 border-b">Nivel Acceso</th>
                </tr>
            </thead>
            <tbody id="tablaEmpleados4">
            {% for emp in empleados_del_sector5 %}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-4 border-b">
                    <img class="w-16 h-16 rounded-full mx-auto" 
                         src="{{ url_for('empleado.static', filename=emp.ruta_imagen.split('/')[-1]) }}" 
                         alt="Foto de {{ emp.nombre }}">
                </td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre }} {{ emp.apellido }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.correo }}</td>
                <td class="py-2 px-4 border-b text-center">{{ emp.nombre_rol }}</td>
            </tr>
            {% endfor %}
        </table>
        </h2>
    </div>

</body>
<script src="../../static/scripts/gestionEmpleados.js"></script>

</html>