<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/style/default.css">
    <link rel="stylesheet" href="../../static/style/inicioAdmin.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registros - Panel de Administración</title>
</head>

<body class="flex-col items-center justify-between">
    <header class="barraSuperior w-full shadow-md">
        <div class=" w-full px-4 py-2 flex items-center justify-between">
            <h1 class="text-2xl font-bold text-gray-800 mx-2">Panel de Administración</h1>
            <h1 class="text-xl text-gray-600 mx-2">Empleados</h1>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="/admin/" class=" justify-center  hover:text-gray-800">Inicio</a>
                    </li>
                    <li><a href="/admin/estadisticas" class="justify-center hover:text-gray-800">Estadistica</a>
                    </li>
                    <li><a href="/admin/actividad" class="justify-center hover:text-gray-800">Actividad</a>
                    </li>
                    <li><a href="/admin/registros"
                            class="justify-center text-white  hover:text-gray-100 bg-gray-800 rounded-xl px-2 py-1 transition-colors duration-300 active">Registros</a> </li>
                    <li><a href="/cerrarSesion" class="justify-center  hover:text-gray-800">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <div class="tablaRegistro mx-auto max-w-4xl p-6 bg-white rounded-lg shadow-md my-4">

        <div class="bg-white p-4 rounded-lg shadow-md">
            <h2 class="text-2xl font-bold mb-4">Registros</h2>
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-2 border-b">Foto</th>
                        <th class="py-2 px-2 border-b">Empleado</th>
                        <th class="py-2 px-2 border-b">Sector</th>
                        <th class="py-2 px-2 border-b">Fecha y Hora</th>
                        <th class="py-2 px-2 border-b">Registro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-2 px-4 border-b">
                            <img class="w-10 h-10 rounded-full"
                                src="../../static/assets/imagen/imagen_prototipo_admin.jpg" alt="Foto de perfil">
                        <td class="py-2 px-4 border-b">Juan Pérez</td>
                        <td class="py-2 px-4 border-b">Produccion</td>
                        <td class="py-2 px-4 border-b">2024-06-15 08:30</td>
                        <td class="py-2 px-4 border-b">
                            <button
                                class="token-btn text-white text-base font-bold flex items-center justify-center mx-auto rounded-full bg-gray-800 my-2 px-4 py-2">
                                Ver</button>
                        </td>
                        <td class="py-2 px-4 border-b">
                            <button
                                class="token-btn text-white text font-bold flex items-center justify-center mx-auto rounded-full bg-gray-800 my-2 px-3 py-1">
                                x</button>
                        </td>
                                                <td class="py-2 px-4 border-b">
                            <button
                                class="token-btn text-white text font-bold flex items-center justify-center mx-auto rounded-full bg-gray-800 my-2 px-3 py-1">
                                Modificar</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 border-b">
                            <img class="w-10 h-10 rounded-full"
                                src="../../static/assets/imagen/imagen_prototipo_admin.jpg" alt="Foto de perfil">
                        <td class="py-2 px-4 border-b">Maria Martinez</td>
                        <td class="py-2 px-4 border-b">Almacenamiento</td>
                        <td class="py-2 px-4 border-b">2024-06-15 08:50</td>
                        <td class="py-2 px-4 border-b">
                            <button
                                class="token-btn text-white text-base font-bold flex items-center justify-center mx-auto rounded-full bg-gray-800 my-2 px-4 py-2">
                                Ver</button>
                        </td>
                        <td class="py-2 px-4 border-b">
                            <button
                                class="token-btn text-white text font-bold flex items-center justify-center mx-auto rounded-full bg-gray-800 my-2 px-3 py-1">
                                x</button>
                        </td>
                                                <td class="py-2 px-4 border-b">
                            <button
                                class="token-btn text-white text font-bold flex items-center justify-center mx-auto rounded-full bg-gray-800 my-2 px-3 py-1">
                                Modificar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
<script src="../../static/scripts/gestionEmpleados.js"></script>

</html>